# Generated assets preserve whitespace inside upstream literals and licenses.
internal/admin/static/webui-mermaid-runtime.js -whitespace linguist-generated=true
internal/admin/static/webui-mermaid-LICENSE.txt -whitespace linguist-generated=true
